@charset "utf-8";

/* 인트로 */
@keyframes introMove1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes introMove2 {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* @keyframes introMove3{
  0%{transform: translateX(0);}
  25%{transform: translateX(-50%);}
  50%{transform: translateX(0);}
  75%{transform: translateX(-50%);}
  100%{transform: translateX(0);}
} */
/* history */
@keyframes historySlider {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}
